flow.json
[{"id":"142ddcd3.cdcc33","type":"inject","z":"5f6182cb.883b0c","name":"","topic":"","payload":"Hello, I am client","payloadType":"str","repeat":"","crontab":"","once":false,"x":231,"y":210,"wires":[["7c2c4d04.7a6a94"]]},{"id":"7c2c4d04.7a6a94","type":"websocket out","z":"5f6182cb.883b0c","name":"","server":"","client":"5cf638f6.4e4208","x":463,"y":201,"wires":[]},{"id":"d9f08ce0.ff334","type":"websocket in","z":"5f6182cb.883b0c","name":"","server":"","client":"5cf638f6.4e4208","x":237.40057373046875,"y":289,"wires":[["cceccee4.cda82"]]},{"id":"cceccee4.cda82","type":"debug","z":"5f6182cb.883b0c","name":"","active":true,"console":"false","complete":"false","x":473.99998474121094,"y":325,"wires":[]},{"id":"5cf638f6.4e4208","type":"websocket-client","z":"5f6182cb.883b0c","path":"ws://localhost:8000/","wholemsg":"false"}]